/* CSS */
@use "../base/vars" as vars;
.button-layer {
  background-color:vars.$primary;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: vars.$back;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-layer:focus {
  outline: 0;
}

.button-layer:after {
  content: '';
  position: absolute;
  border: 2px solid vars.$color1;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-layer:hover:after {
  bottom: -1px;
  left: -2px;
}

@media (min-width: 768px) {
  .button-layer {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}
